<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ site.baseurl }}assets/js/jquery-{{ site.jquery.version }}.min.js"></script>

<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-transition.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-alert.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-modal.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-dropdown.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-scrollspy.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-tab.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-popover.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-button.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-collapse.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-carousel.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-typeahead.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-affix.js"></script>
